<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <li>  <a href="/prd/new"> new products</a></li>
    <li>  <a href="/prd/edit"> Edit products</a></li>
    <li>  <a href="/prd/view"> View products</a></li>
    <li>  <a href="/prd/rem">Remove products</a></li>


</body>
</html>